<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="content-note.css">
</head>
<body>
	<!-- mobile -->

    <div class="content-note">
      <h5 class="tittle">Homes for people on the frontlines of the COVID-19 crisis</h5>
      <p class="content">To help battle the coronavirus, Airbnb is partnering with our hosts to connect 100,000 healthcare providers, relief workers, and first responders with clean, convenient places to stay that allow them to be close to their patients — and safely distanced from their own families. We may be apart, but we’ll get through this together.</p>
      <a href="#">Host or donate</a>
    </div>
</body>
</html>