<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="mobile.css">
</head>
<body>
  <div class="background">
    <h2 class="content" >Book unique places to stay and things to do</h2>
  </div>
  <div class="container">
    <div class="noti">
      <p class="descri">Airbnb is talking steps to support our community in this time of need.</p>
      <a href="#">Learn more</a>
    </div>
    <div class="groups">
      <form  action="">
        <div class="form-group">
          <label for="where">WHERE</label><br/>
          <input type="text" name="where" placeholder="Anywhere">
        </div>
        <div class="form-group">
          <div class="form-group-1">
            <label for="check-in">CHECK-IN</label>
            <input type="text" name="check-in" placeholder="mm/dd/yyyy">
          </div>
          <div class="form-group-2">
            <label for="checkout">CHECKOUT</label>
            <input type="text" name="checkout" placeholder="mm/dd/yyyy">
          </div>
        </div>
        <div class="form-group">
          <label for="guests">GUESTS</label>
          <div class="btn-guest">
            <button type="submit">
              <div class="guest">Guest</div>
              <i class="fas fa-chevron-down"></i>
            </button>
          </div>
        </div>
        <div class="form-group">
          <button type="submit">Search</button>
        </div>
      </form>
    </div>
    
    <div class="content-note">
      <h5 class="tittle">Homes for people on the frontlines of the COVID-19 crisis</h5>
      <p class="content">To help battle the coronavirus, Airbnb is partnering with our hosts to connect 100,000 healthcare providers, relief workers, and first responders with clean, convenient places to stay that allow them to be close to their patients — and safely distanced from their own families. We may be apart, but we’ll get through this together.</p>
      <a href="#">Host or donate</a>
    </div>

    <div class="noti">
      <h5 class="tittle">Latest info about cancellations</h5>
      <p class="descri">For travel impacted by the coronavirus, we’re offering updated cancellation options to help guests and hosts during this difficult time.</p>
      <a href="#">Learn more</a>
    </div>

    <div class="explore">
      <h3 class="content-subject">Explore Airbnb</h3>
      <div class="subjects">
        <div class="subject stays">
          <div class="image"></div>
          <div class="content-image">Stay</div>
        </div>
        <div class="subject exp">
          <div class="image"></div>
          <div class="content-image">Experiences</div>
        </div>
        <div class="subject adven">
          <div class="image"></div>
          <div class="content-image">Adventures</div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="linked">
        
      </div>
      <div class="detail"></div>
    </div>
  </div>
  <script src="https://kit.fontawesome.com/fa4b40adeb.js" crossorigin="anonymous"></script>
</body>
</html>