<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search</title>
  <link rel="stylesheet" href="./search.css">
</head>
<body>
<!-- mobile -->
  <div class="background">
    <h2 class="content" >Book unique places to stay and things to do</h2>
  </div>
    <div class="noti">
    <p class="descri">Airbnb is talking steps to support our community in this time of need.</p>
    <a href="#">Learn more</a>
  </div>
  <div class="groups">
    <form  action="">
      <div class="form-group">
        <label for="where">WHERE</label><br/>
        <input type="text" name="where" placeholder="Anywhere">
      </div>
      <div class="form-group">
        <div class="form-group-1">
          <label for="check-in">CHECK-IN</label>
          <input type="text" name="check-in" placeholder="mm/dd/yyyy">
        </div>
        <div class="form-group-2">
          <label for="checkout">CHECKOUT</label>
          <input type="text" name="checkout" placeholder="mm/dd/yyyy">
        </div>
      </div>
      <div class="form-group">
        <label for="guests">GUESTS</label>
        <div class="btn-guest">
          <button type="submit">
            <div class="guest">Guest</div>
            <i class="fas fa-chevron-down"></i>
          </button>
        </div>
      </div>
      <div class="form-group">
        <button type="submit">Search</button>
      </div>
    </form>
</div>

<!-- web -->
  <div class="groups-2">
    <h1 class="tittle">Book unique places to stay and things to do.</h1>
    <form  action="">
      <div class="form-group">
        <label for="where">WHERE</label><br/>
        <input type="text" name="where" placeholder="Anywhere">
      </div>
      <div class="form-group">
        <div class="form-group-1">
          <label for="check-in">CHECK-IN</label>
          <input type="text" name="check-in" placeholder="mm/dd/yyyy">
        </div>
        <div class="form-group-2">
          <label for="checkout">CHECKOUT</label>
          <input type="text" name="checkout" placeholder="mm/dd/yyyy">
        </div>
      </div>
      <div class="form-group">
        <label for="guests">GUESTS</label>
        <div class="btn-guest">
          <button type="submit">
            <div class="guest">Guest</div>
            <i class="fas fa-chevron-down"></i>
          </button>
        </div>
      </div>
      <div class="form-group">
        <button type="submit">Search</button>
        <!-- <span>Search</span> -->
      </div>
    </form>
</div>
<script src="https://kit.fontawesome.com/fa4b40adeb.js" crossorigin="anonymous"></script>
</body>
</html>